/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4.5,
    ) !default;

$utilities: () !default;
$utilities: map-merge((
    "height-rem": ( // New map
        property: height,
        class: hr,
        values: $spacers 
    )
), $utilities );

@import "bootstrap/scss/bootstrap";

p {
    font-family: 'PT Serif', serif;
    background-color: #FFFFFF80;
}

p.active {
    background-color: #ffc0cb;
}
